.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  border: 2px outset grey;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.container-drag {
  width: 420px;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed cornflowerblue;
  background-color: #cdf0f7;
  border-radius: 25px;
}

.active {
  border: 2px solid cornflowerblue;
}

.container-drag img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 25px;
  /* border: 1px solid cornflowerblue; */
}

.container-drag .blankimage {
  height: 50px;
  width: 50px;
  border: 0px;
  object-fit: cover;
}

.title {
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

.subtitle {
  font-weight: 300;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: grey;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myFile {
  display: none;
}

#get_file {
  background: rgb(90, 146, 230);
  border: 5px solid rgb(90, 146, 230);
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
}
